<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thirdspare.knowyourchords.knowyourchords">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".MajorActivity">
            <intent-filter>
                <action android:name="android.thirdspare.action.MAJOR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".MinorActivity">
            <intent-filter>
                <action android:name="android.thirdspare.action.MINOR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".HelpActivity">
            <intent-filter>
                <action android:name="android.thirdspare.action.HELP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".AMajActivity"/>
        <activity android:name=".A7MajActivity"/>
        <activity android:name=".BMajActivity"/>
        <activity android:name=".CMajActivity"/>
        <activity android:name=".DMajActivity"/>
        <activity android:name=".EMajActivity"/>
        <activity android:name=".E7MajActivity"/>
        <activity android:name=".FMajActivity"/>
        <activity android:name=".GMajActivity"/>

        <activity android:name=".A7MinActivity"/>
        <activity android:name=".AMinActivity"/>
        <activity android:name=".BMinActivity"/>
        <activity android:name=".CMinActivity"/>
        <activity android:name=".DMinActivity"/>
        <activity android:name=".E7MinActivity"/>
        <activity android:name=".EMinActivity"/>
        <activity android:name=".FMinActivity"/>
        <activity android:name=".GMinActivity"/>


    </application>

</manifest>